@import "tailwindcss";

:root {
  --background: #f0f2f5;      
  --card-background: #ffffff;   
  --text-primary: #1a1a1a;     
  --text-secondary: #5a5a5a;    
  --border-color: #e0e0e0;     
  --icon-color: #333333;  
}

html.dark {
    --background: #121212;    
    --card-background: #1e1e1e;   
    --text-primary: #e0e0e0;     
    --text-secondary: #a0a0a0;   
    --border-color: #333333;      
    --icon-color: #cccccc;       
  
}

body {
  background-color: var(--background);
  color: var(--text-primary);      
  font-family: 'Roboto', 'Arial', sans-serif;
  min-height: 100vh;                    
  margin: 0;                            
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;    
}

html, #__next {
  height: 100%;
}